*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Dongle,sans-serif;
}
@import './sections/mme';
@import './sections/header';
@import './sections/index';
@import './sections/sobrenosotros';
@import './sections/trabajos';
@import './sections/contacto';
@import './media/responsive';
@import './sections/footer';
