*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Dongle,sans-serif;
}
@import './sections/header';
@import './sections/index';
@import './sections/footer';

/* AJUSTES PARA RESPONSIVE */

@media(max-width:1024px){
    .hide{
        display: none;
    }   
}
@media(max-width:992px){

    .navbar-light .navbar-brand{
        font-size: 45px;
    }
    .navbar-toggler{
        font-size: 1.1rem;
        margin-bottom:5px;
        padding: 7px;
    }

    .informacion-gn__items img{
        max-width: 230px;
    }
}

@media (max-width:768px) {
    .informacion-gn__items img{
        max-width: 580px;
        margin-top:20px;
    }
}
@media (max-width:425px) {
    
    .navbar-light .navbar-brand{
        font-size: 1.5em;
    }
    .navbar-toggler{
        font-size: 1rem;
        margin-bottom: 5px;
        padding: 6px;
    }
    .navbar-toggler{
        font-size: 1.1rem;
        margin-bottom:5px;
        padding: 5px;
    }
    .informacion-gn__items img{
        max-width: 290px;
    }
}