.mainContacto{
    height: 70vh;
    .container-md{
        .row{
            .col-sm-8{
                label{
                    font-size: 1.5em;
                }
                button{
                    font-size: 1.3em;
                }
            }
        }
    }
}