
.main{
    margin: 0;
    padding: 0;
    .backgroundOpaco__img{
        background-image:url("../images/man-holding-retro-camera.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 90vh;
        margin: 0;
        padding: 0;
        background-position-x: center;
        background-size:cover;
        .backgroundOpaco{
            background-color: rgba(0, 0, 0, 0.548);
            margin: 0;
            padding: 0;
            height: 90vh;
            .slogan{
                margin-bottom: 150px;
                width: 350px;
                h2{
                    color: white;
                    font-size: 60px;
                    text-align: center;
                    line-height: 1;
                    font-weight: 500;
                }
            }
        }
    }
    .informacion{
        width: 100%;
        height: auto;
        margin:0;
        padding:40px 30px;
        background-color: rgb(248, 246, 246);
        .tarjeta{
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.281);
            border-radius: 20px;
            height: auto;
            padding:30px;
            margin:15px;
            max-width: 25vw;
            h3{
                font-size: 40px;
                text-align: center;
                color: #F2B157;
                font-weight: 500;
                line-height: .65;
            }
            p{
                max-width:fit-content;
                font-size: 30px;
                line-height: .8;
                font-weight: 300;
                text-align: center;
            }
        }
    }
}