.informacion-gn{
    margin:50px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
    padding:55px 45px;
    .informacion-gn__items{

        h2{
            font-size: 2.3em;
            color: #F2B157;
        }
        p{
            font-size: 1.8em;
            font-weight: lighter;
            line-height: 1;
            margin-left: 10px;
        }
        img{
            max-width: 180px;
            display: block;
            border-radius: 15px;
            margin: 0 auto;
        }
    }
}
